:root {
    --main--color: #232323;
    --hover--color: rgb(0, 119, 199);
    --special--color: #05bcd1;
}
* {
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -webkit-o-box-sizing: border-box;
    -webkit-moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-scroll-behavior: smooth;
    -webkit-o-scroll-behavior: smooth;
    -webkit-moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
.container {
    padding: 15px 0; 
    margin: auto;
    max-width: 1150px;
}
header {
    background-color: var(--main--color);
    color: white;
    width: 100%;
    padding: 5px 10px;
    min-height: 55px;
    font-size: 13px;
}
header .contact-items {
    float: left;
    display: flex;
}
header .contact p,
header .contact i {
    padding: 0 5px;
}
header .contact .email {
    display: flex;
}
header .contact .email span {
    transition: .2s;
    cursor: pointer;
}
header .contact .email span:hover {
    color: var(--hover--color);
}
header .contact .number {
    display: flex;
}
header .social-media {
    float: right;
    display: flex;
}
header .social-media > p {
    cursor: pointer;
    transition: .2s;
}
header .social-media > p:hover {
    color: var(--hover--color);
}
header .social-media .lang-selector {
    position: absolute;
    top: 57px;
    padding: 10px;
    width: 90px;
    height: 0;
    background-color: white;
    color: var(--main--color);
    box-shadow: 0 3px 40px -16px;
    transition: .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
header .social-media .lang-selector p {
    padding: 10px;
    cursor: pointer;
}
header .social-media .lang-selector.active {
    height: 90px;
    opacity: 1;
    z-index: 3;
    visibility: visible;
}
header .social-media .lang-selector p:hover {
    color: var(--hover--color);
}
.menu {
    position: fixed;
    right: -105%;
    top: 0;
    background-color: white;
    width: 375px;
    height: 100%;
    z-index: 2;
    box-shadow: 0 4px 10px 0;
    transition: .5s cubic-bezier(0.4, 0, 1, 1);
}
.menu.active {
    right: 0;
}
.menu .menu-items {
    display: flex;
    padding-top: 25px;
    padding-left: 12px;
}
.menu .menu-items::before {
    content: '';
    position: absolute;
    top: 88px;
    left: 10px;
    width: 90%;
    height: 1px;
    background-color: #4848484f;
}
.menu .menu-items h1 {
    font-size: 30px;
    font-weight: 400;
}
.menu .menu-items i {
    font-size: 40px;
    position: absolute;
    top: 44px;
    right: 35px;
    cursor: pointer;
    transition: .2s;
}
.menu .menu-items i:hover {
    color: var(--hover--color);
}
.menu > div {
    padding-bottom: 15px;
    padding-left: 25px;
}
.menu > div > div {
    padding: 10px 0;
}
.menu div i {
    font-size: 10px;
}
.menu div h3 {
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
    transition: .2s;
}
.menu div h3:hover {
    color: var(--hover--color);
}
.menu div div {
    display: none;
}
.menu .visable {
    display: block;
}
.menu div a {
    display: block;
    color: var(--main--color);
    text-decoration: none;
    padding: 6px 15px;
    transition: .2s;
    width: 80%;
}
.menu div a:hover {
    color: var(--hover--color);
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--hover--color);
}
.menu div.shop .shop-items h2 {
    font-size: 15px;
    font-weight: 400;
    padding: 6px 14px;
    transition: .2s;
}
.menu div.shop .shop-items div {
    padding: 5px 0;
    cursor: pointer;
}
.menu div.shop .shop-items div:nth-of-type(2) {
    padding: 0;
}
.menu div.shop .shop-items h2:hover {
    color: var(--hover--color);
}
.menu div.shop .shop-items a {
    margin-left: 40px;
}
.main .heading {
    display: flex;
    justify-content: space-between;
    padding: 40px 25px;
}
.main .heading .logo {
    cursor: pointer;
}
.main .heading .heading-items {
    padding: 5px 0;
    display: flex;
}
.main .heading .heading-items div {
    display: flex;
    padding: 0 20px;
    cursor: pointer;
}
.main .heading .heading-items .shop-cart {
    position: relative;
}
.main .heading .heading-items .shop-cart .num-items {
    position: absolute;
    top: -16px;
    left: 41px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    opacity: 0;
}
.main .heading .cart-items::before {
    content: '';
    position: absolute;
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    right: 31px;
    top: -31px;
    opacity: 1;
    transition: 0.3s;
}
.main .heading .cart-items {
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -2px;
    padding: 20px;
    transform: rotateZ(0);
    z-index: 9;
    background-color: white;
    border: 3px solid var(--main--color);
    box-shadow: 0 5px 16px -5px #403f3ff5;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.main .heading .cart-items p {
    color: rgb(48, 48, 48);
    transition: .3s;
    font-size: 25px;
}
.main .heading .cart-items .subtotal {
    font-size: 25px;
    margin: 15px 10px;
}
.main .heading .cart-items .subtotal span:first-of-type {
    margin-left: 8px;
    font-weight: 500;
}
.main .heading .cart-items .subtotal .price {
    font-weight: 500;
}
.main .heading .cart-items .ckeckout {
    background-color: white;
    width: 140px;
    text-align: center;
    padding: 13px 25px;
    margin: 25px 0 15px;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid var(--special--color);
    transition: .3s;
    cursor: pointer;
}
.main .heading .cart-items .ckeckout:hover {
    background-color: var(--special--color);
}
.main .heading .cart-items i {
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 31px;
    transition: .2s;
}
.items-shop {
    display: flex;
    padding: 5px 0;
    position: relative;
}
.items-shop .text-shop {
    font-size: 30px;
    padding: 40px 0 5px 20px;
}
.items-shop .price-cost {
    font-size: 21px;
    padding: 0 30px;
    display: flex;
}
.items-shop .mark-price {
    font-size: 25px;
}
.items-shop i {
    transition: .2s;
}
.items-shop i:hover {
    color: var(--special--color);
}
.main .heading .heading-items div:first-of-type i {
    padding: 0 15px;
    font-size: 20px;
}
.main .heading .heading-items div:nth-of-type(2) {
    padding: 3px 20px
}
.main .heading .heading-items div:last-of-type {
    background-color: var(--special--color);
    color: white;
    padding: 10px;
    margin-top: -4px;
    margin-left: 15px;
    transform: rotateZ(45deg);
    border-radius: 2px;
}
.main .heading .heading-items .search {
    position: absolute;
    top: 150px;
    right: 235px;
    height: 40px;
    opacity: 0;
    transition: .2s;
}
.main .heading .heading-items .search input[type="search"] {
    padding: 10px;
    outline: none;
    transition: .2s;
}
.main .heading .heading-items .search input[type="search"]:focus {
    outline: 3px solid var(--hover--color);
}
.main .heading .heading-items .search input[type="submit"] {
    background-color: white;
    border: 1px solid rgb(173, 173, 173);
    padding: 11px;
    margin-left: -4px;
}
.main .heading .heading-items .search.active {
    opacity: 1;
}
.main .heading .heading-items div:last-of-type i {
    transform: rotateZ(-45deg);
}
.main .heading .emty-message,
.main .heading .message {
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 5px;
    width: 300px;
    height: 125px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: rgba(7, 7, 7, 0.671);
    transition: .3s;
    z-index: 9;
}
.main .heading .message i {
    display: block;
    padding: 10px;
    color: green;
}
.main .heading .emty-message i {
    display: block;
    padding: 10px;
    color: red;
}
.main .slide-image {
    position: relative;
    width: 100%;
    height: 700px;
    margin: 20px 0;
    overflow: hidden;
}
.main .slide-image .slide-one {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #23262e;
    width: 100%;
    height: 110vh;
    transition: 2s;
    z-index: 1;
}
.main .slide-image .slide-two {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e2923;
    width: 100%;
    height: 110vh;
    transition: 2s;
}
.main .slide-image .slide-one img:first-of-type {
    position: absolute;
    top: 0;
    right: 100px;
}
.main .slide-image .slide-one img:nth-of-type(2) {
    position: absolute;
    top: 34%;
    left: 260px;
}
.main .slide-image .slide-one img:nth-of-type(3) {
    position: absolute;
    top: 42%;
    left: 200px;
}
.main .slide-image .slide-one img:nth-of-type(4) {
    position: absolute;
    top: 50%;
    left: 260px;
}
.main .slide-image .slide-one img:nth-of-type(5) {
    position: absolute;
    top: 65%;
    left: 250px;
    cursor: pointer;
}
.main .slide-image .slide-one p {
    position: absolute;
    top: 60%;
    left: 250px;
    color: #ffffff40;
}
.main .slide-image .slide-two img:first-of-type {
    position: absolute;
    top: 0;
    left: 45px;
}
.main .slide-image .slide-two img:nth-of-type(2) {
    position: absolute;
    top: 34%;
    right: 260px;
}
.main .slide-image .slide-two img:nth-of-type(3) {
    position: absolute;
    top: 42%;
    right: 200px;
}
.main .slide-image .slide-two img:nth-of-type(4) {
    position: absolute;
    top: 50%;
    right: 260px;
}
.main .slide-image .slide-two img:nth-of-type(5) {
    position: absolute;
    top: 65%;
    right: 250px;
    cursor: pointer;
}
.main .slide-image .slide-two p {
    position: absolute;
    top: 60%;
    right: 250px;
    color: #ffffff40;
}
.main .slide-image .transition {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
}
.main .slide-image .transition span:first-of-type {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 70px;
    height: 70px;
    padding: 17px 0;
    text-align: center;
    font-size: 24px;
    color: white;
    border: 2px solid white;
    transition: .2s;
    cursor: pointer;
}
.main .slide-image .transition span:nth-of-type(2) {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 70px;
    height: 70px;
    padding: 17px 0;
    text-align: center;
    font-size: 24px;
    color: white;
    border: 2px solid white;
    transition: .2s;
    cursor: pointer;
}
.main .slide-image .transition:hover {
    opacity: 1;
}
.main .slide-image .transition span:hover {
    color: black;
    border-color: black;
}
.main .slide-image .go {
    left: 0;
}
.main .slide-image .circle-know span:first-of-type {
    position: absolute;
    bottom: 20px;
    left: 49%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.main .slide-image .circle-know span:nth-of-type(2) {
    position: absolute;
    bottom: 20px;
    left: 51%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.main .slide-image .circle-know span.active {
    background-color: var(--special--color);
}
.style-images .container {
    overflow: hidden;
}
.style-images .container-images {
    margin-top: -20px;
    position: relative;
}
.style-images .container-images .manager1 {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.style-images .container-images .manager2 {
    overflow: hidden;
    position: absolute;
    width: 370px;
    top: 0;
    left: 35%;
}
.style-images .container-images .manager3 {
    overflow: hidden;
    position: absolute;
    width: 370px;
    top: 250px;
    left: 35%;
}
.style-images .container-images .manager4 {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 70%;
}
.style-images .container-images .overlay {
    position: absolute;
    top: -500px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    color: white;
    text-align: center;
    transition: .7s;
    z-index: 100;
}
.style-images .container-images img {
    transition: .7s;
}
.style-images .container-images div:hover img {
    transform: scale(1.2);
}
.style-images .container-images div:hover .overlay {
    top: 0;
}
.style-images .container-images .manager1 .overlay h3 {
    margin-top: 40%;
}
.style-images .container-images .manager2 .overlay h3 {
    margin-top: 15%;
}
.style-images .container-images .manager3 .overlay h3 {
    margin-top: 15%;
}
.style-images .container-images .manager4 .overlay h3 {
    margin-top: 40%;
}
.style-images .container-images .overlay p {
    margin: 25px 0;
    font-size: 20px;
    color: var(--special--color);
    font-weight: bold;
}
.style-images .container-images .overlay a {
    width: 200px;
    padding: 10px;
    border: 2px solid var(--special--color);
    text-decoration: none;
    color: white;
    transition: .3s;
}
.style-images .container-images .overlay a:hover {
    background-color: var(--special--color);
}
.style-images .features {
    margin-top: 515px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 53px 70px -43px;
    position: relative;
}
.style-images .features:before {
    content: '';
    position: absolute;
    left: 0;
    top: 89px;
    width: 100%;
    height: 1px;
    background-color: #63626238;
}
.style-images .features .features-items {
    display: flex;
    width: 230px;
    flex-wrap: wrap;
}
.style-images .features .features-items i {
    font-size: 35px;
    margin-left: -45px;
    margin-right: 12px;
    margin-bottom: -15px;
    margin-top: 5px;
}
.style-images .features .features-items h4 {
    margin: 0 20px;
    margin-bottom: 5px;
}
.style-images .features .features-items p {
    font-size: 15px;
    margin: 0 20px;
    margin-top: -35px;
    color: #626262b8;
}
.products {
    padding: 60px;
    overflow: hidden;
}
.products .products-header {
    text-align: center;
}
.products .products-header p {
    padding-bottom: 15px;
}
.products .products-header h2 {
    position: relative;
}
.products .products-header h2:before {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background-color: var(--main--color);
    top: 35px;
    left: calc(50% - 125px);
}
.products .products-header span i {
    font-size: 25px;
    margin: 30px 1px;
    border: 2px solid var(--main--color);
    padding: 7px 10px;
    cursor: pointer;
    opacity: 0;
    transition: .4s;
}
.products .product-items {
    width: 1150px;
    overflow: hidden;
}
.products .product-items .product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.swiper:first-of-type {
    width: 100%;
}
.products .container:hover span i {
    opacity: 1;
}
.products .container:hover span i:hover {
    color: var(--special--color);
    border-color: var(--special--color);
}
.products .product-items img {
    width: 265px;
    margin-right: 30px;
}
.products .product-items .product:first-of-type {
    margin-left: 0;
    transition: 1s;
}
.products .product-items .product img:first-of-type {
    position: relative;
}
.products .product-items .product img:nth-of-type(2) {
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: .1s;
    filter: brightness(.8);
}
.products .product-items .product {
    position: relative;
}
.products .product-items .product .fa-eye {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    background-color: var(--special--color);
    padding: 8px;
    font-size: 12px;
    opacity: 0;
    transition: .2s;
    cursor: pointer;
}
.products .product-items .stars {
    position: relative;
    overflow: hidden;
}
.products .product-items .stars p {
    color: #292929d9;
    margin-top: 5px;
}
.products .product-items .stars i {
    color: var(--special--color);
    font-size: 14px;
    margin-top: 15px;
}
.products .product-items .stars i:not(:first-of-type) {
    margin-left: -7px;
}
.products .product-items .stars span {
    display: block;
    margin-top: 7px;
    font-size: 21px;
    font-weight: 600;
    font-family: fangsong;
    transition: .4s;
}
.products .product-items .whishlist {
    position: absolute;
    top: 55px;
    left: -260px;
    transition: .3s;
}
.products .product-items .product:hover .whishlist {
    left: 0;
}
.products .product-items .product:hover .stars span {
    opacity: 0;
}
.products .product-items .product:hover img:nth-of-type(2),
.products .product-items .product:hover .fa-eye {
    opacity: 1;
}
.products .product-items .whishlist p {
    display: inline;
    color: var(--main--color);
    font-weight: 600;
    cursor: pointer;
}
.products .product-items .whishlist i {
    color: var(--main--color);
    margin-top: 0;
    cursor: pointer;
}
.products .product-items .whishlist i:first-of-type {
    margin-right: 5px;
}
.products .product-items .whishlist i:nth-of-type(2) {
    margin-left: 70px;
    padding: 10px;
}
.products .product-items .whishlist i:nth-of-type(3) {
    margin-left: 10px;
    padding: 10px;
}
.products .product-items .whishlist i:nth-of-type(2):hover {
    color: white;
    background-color: var(--special--color);
}
.products .product-items .whishlist i:nth-of-type(3):hover {
    color: white;
    background-color: var(--special--color);
}
.package-sections {
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 40px;
}
.package-sections h2 {
    margin: 5px 50px;
    font-weight: 600;
    color: rgb(83 83 83 / 94%);
}
.package-sections .latest-blog {
    width: 40%;
    float: left;
    position: relative;
    margin-left: -25px;
}
.package-sections .latest-blog h2 {
    margin-left: 125px;
} 
.package-sections .latest-blog .latest-blog-items .swip {
    display: flex;
    margin: 60px 100px 0px 100px;
    width: 300px;
    overflow: hidden;
}
.package-sections .latest-blog .latest-blog-items .latest-blog1 {
    margin-right: 30px;
    transition: 1s;
}
.package-sections .latest-blog .latest-blog-items .latest-blog1 div:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 5px;
}
.package-sections .latest-blog .latest-blog-items .latest-blog1 div:nth-of-type(2) span {
    font-size: 65px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000000db;
}
.package-sections .latest-blog .latest-blog-items .latest-blog1 div:nth-of-type(2) p {
    color: #00000096;
    font-weight: 800;
}
.package-sections .latest-blog .latest-blog-items .latest-blog2 {
    margin-right: 30px;
    transition: 1s;
}
.package-sections .latest-blog .latest-blog-items .latest-blog2 div:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 5px;
    opacity: 0;
    transition: .3s;
}
.package-sections .latest-blog .latest-blog-items .latest-blog3 {
    margin-right: 30px;
    transition: 1s;
}
.package-sections .latest-blog .latest-blog-items .latest-blog3 div:nth-of-type(2) {
    position: absolute;
    display: none;
}
.package-sections .latest-blog .latest-blog-items .latest-blog4 {
    margin-right: 30px;
    transition: 1s;
}
.package-sections .latest-blog .latest-blog-items .latest-blog4 div:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 5px;
    opacity: 0;
    transition: .3s;
}
.package-sections .latest-blog .latest-blog-items .latest-blog5 {
    margin-right: 30px;
    transition: 1s;
}
.package-sections .latest-blog .latest-blog-items .latest-blog5 div:nth-of-type(2) {
    position: absolute;
    top: 45%;
    left: 5px;
    opacity: 0;
    transition: .3s;
}
.package-sections .latest-blog .latest-blog-items .outerlay {
    position: absolute;
    top: 90px;
    left: 84px;
    width: 295px;
    height: 285px;
    background-color: white;
    border: 1px solid rgba(75, 75, 75, 0.164);
    transition: .5s;
    z-index: -1;
}
.package-sections .latest-blog .latest-blog-items .swip:hover .outerlay {
    background-color: var(--special--color);
}
.package-sections .latest-blog .latest-blog-items .latest-blog1:hover img {
    filter: brightness(.7);
}
.package-sections .latest-blog .latest-blog-items .latest-blog2:hover img {
    filter: brightness(.7);
}
.package-sections .latest-blog .latest-blog-items .latest-blog3:hover img {
    filter: brightness(.7);
}
.package-sections .latest-blog .latest-blog-items .latest-blog4:hover img {
    filter: brightness(.7);
}
.package-sections .latest-blog .latest-blog-items .latest-blog5:hover img {
    filter: brightness(.7);
}
.package-sections .latest-blog .latest-blog-items .latest-blog3 {
    display: none;
}
.package-sections .latest-blog .latest-blog-items .swip:hover i.fa-search {
    opacity: 1;
}
.package-sections .latest-blog .latest-blog-items .swip img {
    width: 300px;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    transition: .2s;
}
.package-sections .latest-blog .latest-blog-items .swip p.links {
    margin-top: -155px;
}
.package-sections .latest-blog .latest-blog-items .swip p.links a {
    text-decoration: none;
    color: #00000081;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
}
.package-sections .latest-blog .latest-blog-items .swip p.links a:hover {
    color: var(--special--color);
}
.package-sections .latest-blog .latest-blog-items .swip div:nth-of-type(3) {
    position: relative;
    top: -164px;
    background-color: white;
    height: 160px;
    padding: 10px 0;
}
.package-sections .latest-blog .latest-blog-items .swip div:nth-of-type(3) h4 {
    padding: 5px 0;
    line-height: 1.7;
    font-family: sans-serif;
}
.package-sections .latest-blog .latest-blog-items .swip div:nth-of-type(3) p {
    font-size: 14px;
    line-height: 1.7;
    color: #353535d3;
    font-weight: 500;
}
.package-sections .latest-blog .latest-blog-items .swip div:nth-of-type(3)::before {
    content: '';
    position: absolute;
    top: 160px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.253);
}
.package-sections .latest-blog .latest-blog-items .swip i.fa-search {
    position: absolute;
    top: 38%;
    left: 48%;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 14px;
    font-size: 12px;
    cursor: pointer;
    opacity: 0;
    transition: .2s;
}
.package-sections .testemonial {
    width: 30%;
    float: left;
    margin-left: -30px;
}
.package-sections .testemonial h2 {
    margin-left: 100px;
}
.package-sections .testemonial .testemonial-items {
    height: 600px;
    margin-top: 50px;
    background-color: var(--special--color);
    cursor: grab;
}
.package-sections .testemonial .testemonial-items .swiper-slide {
    padding: 10px 20px;
    color: white;
}
.package-sections .testemonial .testemonial-items .swiper-slide img {
    margin-left: 33%;
    margin-top: 20px;
    border-radius: 10%;
}
.package-sections .testemonial .testemonial-items .swiper-slide h2 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    color: white;
}
.package-sections .testemonial .testemonial-items .swiper-slide h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.package-sections .testemonial .testemonial-items .swiper-slide p {
    padding: 25px 5px;
    text-align: center;
    line-height: 2;
}
.package-sections .logos {
    width: 500px;
}
.package-sections .logos h2 {
    margin-left: 100px;
}
.package-sections .logos {
    width: 32%;
    float: left;
}
.package-sections .logos .logos-container {
    margin-left: 30px;
    margin-top: 50px;
    border: 1px solid rgba(63, 63, 63, 0.212);
    max-height: 540px;
}
.package-sections .logos .logos-container .logos-items {
    display: flex;
    justify-content: space-between;
    width: 500px;
    cursor: grab;
}
.logos .swiper {
    width: 350px;
    height: 540px;
}
.package-sections .logos .logos-container .logos-items .logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
}
.package-sections .logos .logos-container .logos-items .logo img {
    margin: 49px 0;
}
.package-sections::before {
    content: '';
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    background-color: #38363640;
    width: 75%;
    height: 1px;
    box-shadow: -1px 20px 30px 1px #00000091;
}
.sales {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.sales::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #38363640;
    width: 75%;
    height: 1px;
    box-shadow: -1px 20px 30px 1px #00000091;
}
.sales .sales-content {
    display: flex;
    flex-direction: row;
}
.sales .sales-content h4 {
    margin: 15px 0;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}
.sales .sales-content .sales-item {
    margin: 50px 0;
}
.sales .sales-content .sales-item .product-content {
    display: inline-flex;
    margin: 0 0;
    margin-bottom: 30px;
    position: relative;
}
.sales .sales-content .sales-item .product-content .product-text {
    margin: 20px 20px
}
.sales .sales-content .sales-item .product-content img {
    width: 90px;
}
.sales .sales-content .sales-item .product-content .product-images {
    position: relative;
}
.sales .sales-content .sales-item .product-content img:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .2s;
    filter: brightness(.8);
}
.sales .sales-content .sales-item .product-content img:nth-of-type(2):hover {
    opacity: 1;
}
.sales .sales-content .sales-item .product-content p:first-of-type {
    font-size: 14px;
    color: var(--main--color);
    padding-bottom: 15px;
    transition: .3s;
    cursor: pointer;
}
.sales .sales-content .sales-item .product-content p:hover {
    color: rgba(63, 63, 63, 0.575);
}
.sales .sales-content .sales-item .product-content i {
    font-size: 12px;
    color: var(--special--color);
}
.sales .sales-content .sales-item .product-content i:not(:first-of-type) {
    margin-left: -5px;
}
.sales .sales-content .sales-item .product-content span {
    display: block;
    font-size: 19px;
    font-weight: 800;
    padding-top: 8px;
    font-family: serif;
}
.sales .sales-content .sales-item .product-content p.offer {
    display: flex;
    justify-content: end;
    margin-top: -30px;
    margin-right: 5px;
}
.sales .sales-content .sales-item .product-content p.offer2 {
    display: flex;
    justify-content: end;
    margin-top: -30px;
    margin-right: -27px;
}
.sales .sales-content .sales-item .product-content p.offer span {
    margin-left: 7px;
    color: #2626269e;
    text-decoration: line-through;
}
.sales .sales-content .sales-item .product-content p.offer2 span {
    margin-left: 7px;
    color: #2626269e;
    text-decoration: line-through;
}
.sales .sales-content .sales-item .product-content .add-to-cart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.sales .sales-content .sales-item .product-content .add-to-cart i {
    font-size: 17px;
    margin: 10px;
    cursor: pointer;
}
.about {
    position: relative;
    margin: 50px 20px;
}
.about .about-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .about-items img {
    margin-bottom: 50px;
    width: 190px;
}
.about .about-items h2 {
    font-size: 18px;
    margin-bottom: 30px;
}
.about .about-items p {
    width: 863px;
    text-align: center;
    color: #464646bd;
    font-size: 14px;
    line-height: 1.4;
}
footer {
    min-height: 400px;
    background-color: var(--main--color);
    color: white;
    position: relative;
}
footer::before {
    content: '';
    position: absolute;
    bottom: 125px;
    left: 50%;
    transform: translate(-50%);
    background-color: #a7a3a340;
    width: 75%;
    height: 1px;
    box-shadow: 0px 8px 25px 1px #3a3a3a91;
}
footer .footer-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
footer .footer-item > div {
    margin: 50px 0;
}
footer .footer-item > div h2 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 40px;
    color: var(--special--color)
}
footer .footer-item .icons div {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}
footer .footer-item .icons div i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: var(--special--color);
    margin: -5px 10px;
}
footer .footer-item .openning-time div p {
    margin: 25px 0;
}
footer .footer-item ul li {
    margin: 20px 0;
    list-style-type: circle;
    cursor: pointer;
    transition: .3s;
}
footer .footer-item ul li:hover {
    transform: translateX(5px);
    color: rgba(151, 151, 151, 0.479);
}
.cash {
    text-align: center;
    margin-top: 30px;
}
.cash span {
    cursor: pointer;
    transition: .2s;
}
.cash span:hover {
    color: var(--special--color)
}
.cash img {
    margin: 20px 0;
    cursor: pointer;
}
@media (max-width: 1170px) {
    .container {
        width: 900px;
    }
    .latest-blog {
        width: 200px;
    }
    .latest-blog img {
        width: 200px;
    }
    .style-images .container-images img {
        width: 80%;
    }
}
@media (max-width: 980px) {
    .container {
        width: 700px;
    }
    .latest-blog {
        width: 150px;
    }
    .latest-blog img {
        width: 150px;
    }
    .style-images .container-images img {
        width: 80%;
    }
}
@media (max-width: 720px) {
    .container {
        width: 600px;
    }
    .latest-blog {
        width: 100px;
    }
    .latest-blog img {
        width: 100px;
    }
    .style-images .container-images img {
        width: 80%;
    }
}
@media (max-width: 450px) {
    .container {
        width: 280px;
    }
    header {
        padding: 5px 0;
        min-height: 40px;
        font-size: 5px;
    }
    .main .heading {
        flex-direction: column;
    }
    .main .heading .logo {
        cursor: pointer;
        margin-left: 15px;
    }
    .main .heading .heading-items {
        padding: 60px 0 0 0;
        margin-left: -15px;
    }
    .main .heading .cart-items {
        width: 100%;
        height: 100%;
    }
    .main .heading .heading-items .search {
        top: 242px;
        right: 50px;
    }
    .main .slide-image {
        height: 50vh;
    }
    .main .slide-image .slide-one {
        height: 50vh;
    }
    .main .slide-image .slide-two {
        height: 50vh;
    }
    .main .slide-image .slide-one img:not(:first-of-type) {
        width: 100px;
    }
    .main .slide-image .slide-one img:first-of-type {
        right: 0;
    }
    .main .slide-image .slide-one img:nth-of-type(2) {
        left: 50px;
    }
    .main .slide-image .slide-one img:nth-of-type(3) {
        left: 50px;
    }
    .main .slide-image .slide-one img:nth-of-type(4) {
        left: 50px;
    }
    .main .slide-image .slide-one img:last-of-type {
        left: 50px;
    }
    .main .slide-image .slide-one p {
        left: 50px;
        font-size: 11px;
    }
    .main .slide-image .slide-two img:not(:first-of-type) {
        width: 100px;
    }
    .main .slide-image .slide-two img:first-of-type {
        left: 20px;
    }
    .main .slide-image .slide-two img:nth-of-type(2) {
        left: 50px;
    }
    .main .slide-image .slide-two img:nth-of-type(3) {
        left: 50px;
    }
    .main .slide-image .slide-two img:nth-of-type(4) {
        left: 50px;
    }
    .main .slide-image .slide-two img:last-of-type {
        left: 50px;
    }
    .main .slide-image .slide-two p {
        right: 90px;
        font-size: 11px;
    }
    .style-images .container-images img {
        width: 48%;
    }
    .style-images .container-images .manager4 img {
        height: 170px;
        width: 133px;
    }
    .style-images .container-images .manager2 {
        width: 209.5%;
        top: 180px;
        left: 0;
    }
    .style-images .container-images .manager3 {
        width: 209.5%;
        top: 357px;
        left: 0;
    }
    .style-images .container-images .manager4 {
        left: 53%;
    }
    .style-images .container-images {
        height: 50px;
    }
    .style-images .features {
        margin-top: 550px;
        height: 280px;
        flex-wrap: wrap;
        box-shadow: 0px 20px 43px -43px;
    }
    .style-images .features:before {
        top: 320px;
    }
    .style-images .features .features-items {
        margin: 20px;
    }
    .style-images .features .features-items i {
        font-size: 30px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .style-images .features .features-items p {
        font-size: 12px;
        margin: 0 48px;
    }
    .products .products-header p {
        font-size: 14px;
    }
    .products .products-header h2 {
        font-size: 17px;
    }
    .products .product-items {
        width: 1400px;
        overflow-x: hidden;
    }
    .package-sections .latest-blog h2 {
        margin-left: 100px;
    }
    .package-sections .latest-blog {
        width: 100%;
        margin-bottom: 60px;
    }
    .package-sections .testemonial {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 0;
    }
    .package-sections .logos {
        width: 100%;
        margin-bottom: 60px;
    }
    .package-sections .latest-blog .latest-blog-items .swip {
        margin: 60px 100px 0 20px;
        width: 300px;
    }
    .package-sections .latest-blog .latest-blog-items .outerlay {
        left: 5px;
    }
    .package-sections .latest-blog .latest-blog-items .latest-blog1 div:nth-of-type(2) {
        display: none;
    }
    .package-sections .testemonial .testemonial-items {
        height: 650px;
    }
    .package-sections .testemonial h2 {
        margin-left: 75px;
    }
    .package-sections .logos h2 {
        margin-left: 75px;
    }
    .package-sections .logos .logos-container {
        margin-left: 0;
        width: 280px;
    }
    .package-sections::before {
        bottom: 13px;
        box-shadow: 0px 20px 40px 1px #00000091;
    }
    .sales .sales-content {
        flex-direction: column;
    }
    .sales .sales-content h4 {
        margin-left: 0;
    }
    .about .about-items p {
        width: 300px;
    }
    footer .footer-item .icons div i:first-of-type {
        margin: 0 10px;
    }
    footer .footer-item {
        flex-direction: column;
    }
    footer .footer-item ul li {
        margin: 20px 15px;
    }
    .style-images .container-images .overlay {
        display: none;
    }
}
